.question {
    font-weight: bold;
    font-family: 'Bungee Shade';font-size: 22px;
}

.carter {
    font-weight: bold;
    font-family: 'Bungee Shade';font-size: 40px;
    color: green;
}

/* #time {
    font-family: 'Bungee Shade';font-size: 22px;
} */

body {
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.background {
    background-image: url("../images/rexy.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
   
  }

  /* body {
    background-color: rgb(128, 178, 209);
  } */

